body{
    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    background-position-y: unset;
    height: 100vh;
    /* background-position-x: -234px; */
    background-origin: content-box;
    background-size: cover;
    background-attachment: scroll;
    /* background-position: top center; */
}
main {
    margin-top: 150px;
}
.err {
    margin-top: -12px;
    color: red;
}
.container {
    max-width: 1024px;
    margin: auto;
}
.flex {
    display: flex;
}
.flex .form {
    width: 40%;
    background-color: rgba(233,61,61,0);
    border-radius: 6px;
    border:1px solid white;
}
.flex .form:hover {
    /* background-color: ; */
}
.flex .form .title {
    text-align: center;
}
.flex .form .title h3 {
    color: white;
    font-size: 21px;
}
.flex .form .timergird {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.flex .form .timergird .timer {
    text-align: center;
}
.flex .form .timergird .timer h3 {
    font-size: 14px;
    text-transform: uppercase;
}
.flex .form .timergird p {
    background: rgba(255,33,100,1);
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 65px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 6px;
    margin: 0 5px;
}
.flex .form form {
    padding: 0 50px;
    margin: 20px 0px;
}
.flex .form form input {
    width: 296px;
    font-size: 16px;
    border-radius: 5px;
    /* border: 1px solid rgba(112,112,112,1); */
    border: 1px solid white;
    padding: 13px 5px;
    /* background-color: rgba(61,61,61,1); */
    background-color: white;
    color: rgba(0,0,0,1);
    margin-bottom: 20px;
    /* color: white; */
}
.flex .form form input:focus {
    outline: none;
}
.flex .form form input#submit {
    background-color: rgba(255,33,100,1);
    border: 1px solid rgba(255,33,100,1);
    width: 100%;
    color: white;
    font-weight: 600;
}
.flex .form form input#submit:hover {
    cursor: pointer;
}
.content {
    padding-left: 65px;
}
.content .content-title {
    padding-bottom: 36px;
    border-bottom: 3px solid #fff;
}
.content .content-title h1 {
    margin: 0px;
    color: white;
}
.content .content-title h1:first-child{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}
.content .content-title h1:last-child {
    font-size: 45px;
    font-weight: 600;
}
.content .text p {
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
}
.content .button button{
    background-color: rgba(233,61,61,0);
    padding: 15px 55px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid;
    color: white;
    transition: 0.3s ease all;
    border-radius: 4px;
}
.content .button button:focus {
    outline: none;
}
.content .button button:hover {
    cursor: pointer;
    background-color: rgba(255,33,100,1);
    border-color: rgba(255,33,100,1);
}
.flex .content {
    width: 60%;
}
.block {
    background-color: rgba(255,33,100,1);
    border-radius: 10px;
    margin-top: 120px;
}
.block .item {
    width: 33.3333%;
    padding: 20px 30px;
}
.block .item .text {
    padding-left: 16px;
}
.block .item .icon i{
    color: white;
    font-size: 30px;
    line-height: 30px;
}
.block .item h3, h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}
.block .item h3 {
    text-transform: uppercase;
}
.block .item h4 { 
    color: white;
}
